* {
    box-sizing: border-box;
  }
body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 22%, rgba(213,79,222,1) 100%);
    padding: 0;
    margin: 0;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(12);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 22%, rgba(213,79,222,1) 100%);

}
/* **************************************** Logo ****************************************** */

/* **************************************** Menu ****************************************** */
.row2{
    grid-column: span 12;
    background-color: transparent;/*rgba(0, 0, 0, 0.651) rgba(255, 255, 255, 0.527)*/;
    height: 50px;
    grid-column: span 12;
    position: sticky;
    top: 0px;
}
.row2 ul{
    display: flex;
    justify-content: center;
    justify-items: center;
}
.row2 ul li{
    display: inline-grid;
    padding: 0 3vw;
    position: relative;
}
.row2 ul li a{
    text-decoration: none;
    color: rgb(189, 189, 189);
    font-family: arial;
    font-size: 20px;
    line-height:20px;
    transition: 0.3s;
}
.row2 ul li a:hover{
    color: rgba(245, 245, 245, 0.932);
}
.menu-button-container .menu-button{
    display:none;
}
.row2 .close-button{
    display:none;
}


@media only screen and (max-width: 800px){
    .row2{
        width: 55vh;
        height: 100vh;
        background-color: black;
        display: none; /* flex */
    }
    .row2 .row2-menu{
        justify-content: center;
        align-items: center;
        font-family: arial;
        font-size: 20px;
        display: flex;
    }
    
    .row2 ul{
        display:block;
    }
    .row2 ul li{
        display: block;
        padding: 20px;
        text-align: center;
        letter-spacing: 3px;
        transition: 0.3s;
    }
    .row2 ul li a:hover{
        color: rgb(99, 99, 99);
    }
    /* ********************************** Button Hide *********************************** */
    .row2 .close-button{
        display:flex;
        float: left;
        background-color: rgba(0, 0, 0, 0.233);
        border: none;
        border-radius: 5px;
        height: 50px;
        width: 50px;
        justify-content: center;
        align-items: center;
        margin-left: 4vw;
        margin-top: 4vw;
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.452);
        cursor: pointer;
        transition: 0.3s;
    }
    .row2 .close-button .fa-color{
        color:rgba(219, 219, 219, 0.849);
    }
    .row2 .close-button:hover .fa-color{
        color:rgba(179, 179, 179, 0.849);
    }
    /* ********************************** Button Reveal *********************************** */
    .menu-button-container .menu-button{
        display:flex;
        float: left;
        background-color: rgba(179, 179, 179, 0.233);
        border: none;
        border-radius: 5px;
        height: 50px;
        width: 50px;
        justify-content: center;
        align-items: center;
        margin-left: 4vw;
        margin-top: 4vw;
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.452);
        cursor: pointer;
        transition: 0.3s;
    }
    .menu-button-container .menu-button{
        display:flex;
        float: left;
        background-color: rgba(179, 179, 179, 0.233);
        border: none;
        border-radius: 5px;
        height: 50px;
        width: 50px;
        justify-content: center;
        align-items: center;
        margin-left: 4vw;
        margin-top: 4vw;
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.452);
        cursor: pointer;
        transition: 0.3s;
    }
    .menu-button-container .menu-button:hover{
        background-color: rgba(136, 136, 136, 0.233);
    }
}

/* **************************************** Big grid ****************************************** */
.row3{
    grid-column: span 12;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 22%, rgba(213,79,222,1) 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: arial;
}
.row3 p{
    margin-top: -50px;
    font-size: 4vw;
    font-weight:bold;
}
.row3 p span{
    color:rgb(16, 0, 88);
}
.row3 .button{
    height:48px;
    border: none;
    border-radius: 30px;
    width: auto;
    padding: 0 6vh;
    background-color:rgba(255, 255, 255, 0.349);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    font-size: medium;
    font-family: arial;
    font-weight: 700;
    cursor: pointer;
    color: rgb(26, 26, 26);
    transition: 0.3s;
}
.row3 .button:hover{
    background-color: rgba(255, 255, 255, 0.171);
    color: black;
}

@media only screen and (max-width: 800px){
    .button{
        margin-top: 3vh;
    }
    .row3 p{
        font-size: 8vw;
        margin-top: -180px;
        font-family: Lato;
    }
}
@media only screen and (max-height: 800px){
    .row3 p{
        font-size: 8vw;
         margin-top: -180px;
        font-family: Lato;
    }
}
/* **************************************** Website ****************************************** */
.row4 {
    background-color: black;
    grid-column: span 12;
    height: 200px;
}
